---
name: CI Validation
on:
  push:
    branches:
      - main
    paths:
      - '**.yaml'
      - '**.yml'
  pull_request:
    paths:
      - '**.yaml'
      - '**.yml'

jobs:
  lint-and-validate:
    # Points to central ci-template repo
    uses: hitesha1981/ci-templates/.github/workflows/kubeconform.yaml@kubeconform
    with:
      kube_version: "1.31.0"
      strict: true